/** {
  box-sizing: border-box;
}*/

html {
	width: 960px;
	position: relative;
}

body {
	width: 960px;
	background-image: url("https://raw.githubusercontent.com/kaylaludmila/Basic-Portfolio/master/assets/images/pw_pattern_%402X.png");
}

header {

	background: #4aaaa5;
	margin-top: 10px;
	margin-left: 112px;
	color: #ffffff;
	align:left;
	font-size: 15px;
	text-align: center;
	width: 36%;
	float:left;
	border-bottom: solid #4aaaa5;
	border-width: 15px;
}

/*section { 
	background: #ffffff;
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #000000;
	float:right;
	width: 75%;

}*/

/*#container {
	padding: 0px;
	margin-top: 68px;
	float:left;
	width:33%;

}*/

.pagelinks {
	padding: 0px;
	margin-top: 68px;
	float:right;
	width:33%;
}

a { 
	text-decoration: none;
 }

 a:hover {
 	color:999999;
 }

.main-bio {
	padding: 0px;
	float:left;
	margin-left: 112px;

}

.myname {
	background: #ffffff;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #4aaaa5;
	width:650px;
}

.mybio {
	background: #ffffff;
	padding: 20px;
	margin-bottom: 0px;
	margin-left: 112px;
	color: #777777;
	width:650px;
}

.profilepic {
    width:40%;
    height: auto;
    align-self: left;
    float:left;

}

#connect {
	background: #ffffff;
	padding: 0px;
	margin-bottom: 50px;
	margin-top:30px;
	color: #000000;
	float:left;

}

/*#division { 
	background: #6ea3da;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #00000;
	width:100%;

}

aside {
	background: #ffffff;
	height:100px;
	padding:20px;
	margin-bottom: 0px;
	margin-left: 40px;
	color: #000000;
	float:left;
	width:25%;

}
*/
#division {

	background: #4aaaa5;
	clear:both;
	height: 25px;
}

footer {

	background: #666666;
	color: #ffffff;
	height: 100px;
	clear:both;
	font-size: 10pt;
	text-align: center;
	padding: 40px;
	border-top: thick solid #4aaaa5;
	border-width: 15px;
}








/** {
  box-sizing: border-box;
}


body {
	width: 960px;
}

header {

	background: #4aaaa5;
	padding: 0px;
	margin-top: 10px;
	margin-left: 112px;
	color: #ffffff;
	align:left;
	font-size: 15px;
	text-align: center;
	width: 36%;
	float:left;
}

section { 
	background: #ffffff;
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #000000;
	float:right;
	width: 75%;

}

#pagelinks {
	padding: 0px;
	margin-top: 68px;
	float:right;
	width:33%;

}

#myname {
	background: #e6e6fa;
	padding: 20px;
	margin-bottom: 0px;
	margin-left: 112px;
	color: #ffffff;
	float:left;
	width:650px;
}

#profile {
    width:40%;
    height: auto;
    align-self: left;

}

#connect {
	background: #ffffff;
	padding: 0px;
	margin-bottom: 50px;
	margin-top:30px;
	color: #000000;
	width: 100%;
	float:right;

}

#division { 
	background: #6ea3da;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #00000;
	width:100%;

}

aside {
	background: #ffffff;
	height:100px;
	padding:20px;
	margin-bottom: 0px;
	margin-left: 40px;
	color: #000000;
	float:left;
	width:25%;

}

