* {
  box-sizing: border-box;
}

/* Fill in your CSS Below */


body {
	width: 960px;
}

header {

	background: #4aaaa5;
	padding: 0px;
	margin-top: 10px;
	margin-left: 112px;
	color: #ffffff;
	align:left;
	font-size: 15px;
	text-align: center;
	width: 36%;
	float:left;
}

section { 
	background: #ffffff;
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #000000;
	float:right;
	width: 75%;

}

#pagelinks {
	padding: 0px;
	margin-top: 68px;
	float:right;
	width:33%;

}

#myname {
	background: #e6e6fa;
	padding: 20px;
	margin-bottom: 0px;
	margin-left: 112px;
	color: #ffffff;
	float:left;
	width:650px;
}

#profile {
    width:40%;
    height: auto;
    align-self: left;

}

#connect {
	background: #ffffff;
	padding: 0px;
	margin-bottom: 50px;
	margin-top:30px;
	color: #000000;
	width: 100%;
	float:right;

}

#division { 
	background: #6ea3da;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #00000;
	width:100%;

}

aside {
	background: #ffffff;
	height:100px;
	padding:20px;
	margin-bottom: 0px;
	margin-left: 40px;
	color: #000000;
	float:left;
	width:25%;

}

footer {

	background: #ccc;
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
	clear:both;
}









/*body {
	margin: 0;
	padding: 0;
	background: #666666;
	font-size: 18px;
	line-height: 150%;
	font-family: "Georgia",Times New Roman,Times,serif;
	color: #333333;
	width: 960px;
}
header {
	background: #ffffff;
}
h1 {
	background: #333333;
	padding: 20px 0;
	color: #eee;
	margin: 0;
	font-size: 28px;
	text-align: center;
	margin-bottom: 20px;
}
h2 {
	font-size: 24px;
}
a {
	color: #d21034;
}
.container {
	width: 1024px;
	margin: 0 auto;
}
#main-bio,
#contact-info,
#bio-image {
	float: left;
}
#main-bio {
	width: 70%;
}
#contact-info {
	width: 30%;
}
#bio-image {
	width: 200px;
	height: 200px;
	margin-right: 20px;
}*/